<div class="row">
  <div class="span5">
    <%= render :partial => 'spree/blog_entries/sidebar_index' %>
  </div>
  <div class="span7">
    <%= render :partial => 'spree/blog_entries/blog_entries' %>
  </div>
</div>

<%# content_for :sidebar do %>

<%# end %>
